<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <br>

  <!-- Begin Container -->
<div class="container">
  <div class="row center">
    <p>No Plans Tonight?</p>
    <p>Find a bar near you and reserve ahead of time! <br>This app was built using the Yelp API.</p> 
  </div>
  <div class="row">
        <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." id="seachInput">
      <span class="input-group-btn">
      </span>
    </div><!-- /input-group -->
  </div>
</div>
  <!-- /.container -->
</body>
</html>
