<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <br>

  <!-- Begin Container -->
<div class="container">
    <h2>My Books</h2>
    <div id="info"></div>
    <div class="grid" style="position: relative; height: 184px;">
      <div class="grid-sizer"></div>
    </div>
 </div>
  <!-- /.container -->

  <script>
  var userBooks = <%- JSON.stringify(books) %>;
  for(var i = 0; i < userBooks.length; i++){
    var htmlCards = '<div class="grid-item"><div class="card">';
    htmlCards += '<div class="img-wrapper"><img src="'+userBooks[i].image+'" class="img-responsive img-rounded" onerror="imgError(this);"></div>';
    htmlCards += '<div class="caption text-center"><div class="pin-title"><a href="/deleteBook?id='+userBooks[i]._id+'">X</a></div></div></div></div>';
    $('.grid').append(htmlCards);
  }
  if(userBooks.length == 0){
    $('#info').append("You have no books.")
  }
  setTimeout(function(){ 
  $('.grid').masonry({
    // set itemSelector so .grid-sizer is not used in layout
    itemSelector: '.grid-item',
    // use element for option
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
  }, 200);
  function imgError(image) {
        image.onerror = "";
        image.src = "http://www.avsforum.com/photopost/data/2277869/9/9f/9f50538d_test.jpeg";
        return true;
    }
  </script>
</body>
</html>
